#menu {
    -fx-background-color: #88F;
    -fx-spacing: 10;
    -fx-min-width: 100;
}

#menu .buttonBar {
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-background-color: #66F;
}

#menu .buttonBar:hover {
    -fx-background-color: #F6F;
}

#menuBtn{
	-fx-max-height: 100;
	-fx-background-color:blue ;	
}

.MenuItem:hover{
	-fx-background-color: pink;
}
